services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3001:3001"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=user_service
      - DB_PASSWORD=password
      - DB_NAME=users_db
    depends_on:
      - postgres

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "3002:3002"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=order_service
      - DB_PASSWORD=password
      - DB_NAME=orders_db
    depends_on:
      - postgres

  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    environment:
      - POSTGRES_DB=app_db
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=app_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./infra/sql:/docker-entrypoint-initdb.d

  nginx:
    build: ./infra/sql/nginx
    container_name: nginx-gateway
    ports:
      - "8080:80"
    depends_on:
      - user-service
      - order-service

volumes:
  postgres_data:

